spring:
    application:
        name: cerebro-data-collection-service
        version: '@project.version@'
    profiles:
        active: dev
    security:
        basic:
            enable: false
        user:
            name: admin
            password: password


    datasource:
        hikari:
            connection-timeout: 20000
            minimum-idle: 10
            maximum-pool-size: 1000
            idle-timeout: 10000
            max-lifetime: 1000
        username: root
        password: password
        url: jdbc:mysql://localhost:3306/calculator_dev?zeroDateTimeBehavior=convertToNull&characterEncoding=UTF-8&useSSL=false
    jpa:
        hibernate:
            ddl-auto: create
            naming:
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
